@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ESTILOS GENERALES */
:root {
    --color-texto: #07020D;
    --borde-de-articulos: 5px solid #5DB7DE;
    --color-fondo: #F1E9DB;
}
/**{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
}*/
.colores {
    /*color: #07020D;*/
    color: #FFFFFF;
    color: #F1E9DB;
    color: #5DB7DE;
    color: #A39B8B;
    color: #716A5C;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #07020D;
}

header {
    background-color:#07020D;
    text-align: center;
    padding: 16px;
}

section {
    text-align: center;
    margin: 25px 0;
}

article {
    margin: 15px 0;
}

h1 {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 400;
}

h2 {
    font-size: 28px;
    line-height: 1.5;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
}

footer {
    background-color: #716A5C;
    color: #F1E9DB;
    text-align: center;
    padding-top: 75px;
    height: 150px;
}